/* === MARGINS === */
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.ml-sm {
  margin-left: 10px;
}

.ml-md {
  margin-left: 20px;
}

.ml-lg {
  margin-left: 30px;
}

.mt-sm {
  margin-top: 10px !important;
}

.mt-md {
  margin-top: 20px !important;
}

.mt-lg {
  margin-top: 30px !important;
}

.mr-sm {
  margin-right: 10px;
}

.mr-md {
  margin-right: 20px;
}

.mr-lg {
  margin-right: 30px;
}

/* === PADDINGS === */
.p0 {
  padding: 0 !important;
}

.pv-sm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ph-xs {
  padding-left: 5px;
  padding-right: 5px;
}

.ph-sm {
  padding-left: 10px;
  padding-right: 10px;
}

.p-sm {
  padding: 10px
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.clickable {
  cursor: pointer;
}